.main-color {
    background-color: #24353F;
}

nav {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);

}

h1 {
    color: #17a2b8 !important;
}
.main-content{
    height: 70vh;
}

.group{
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1) ; 
}